html {
    background-color: white;
}

img {
    width: 100%;
}

#splash {
    background-image: url(forside.png);
    background-size: cover;
    width: 96vw;
    height: 106vh;
}

header {
    border-bottom: solid 5px white;
}

footer {
    background-color: darkred;
    text-align: center;
    margin-top: -10px;
}

nav a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: overline;
    margin-left: 50px;
}

#sectionwrapper {
    background-color: #E60000;
    border-top: solid 1px white;
}

nav {
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkred;
    position: fixed;

}

#forside nav {
    background-color: darkred;
}

#om {
    background-color: #E60000;
    display: flex;
    margin-top: 24px;

}

#mig {
    margin: 5px;
    flex-basis: 600%;
}

#info {
    flex-basis: 600%;
    text-align: center;
}

.info1 {
    flex-basis: 600%;
    margin-right: 10px;
}

.billede1 {
    flex-basis: 600%;
    margin: 20px;
}

.info2 {
    flex-basis: 600%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.billede2 {
    flex-basis: 600%;
    margin: 20px;
}

.info3 {
    flex-basis: 600%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.billede3 {
    flex-basis: 600%;
    margin: 20px;
}

.info4 {
    flex-basis: 600%;
    margin-right: 10px;
}

.billede4 {
    flex-basis: 300%;
    margin: 20px;
}

#info p {
    color: sandybrown;
}


h1 {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

h2 {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

#sectionwrapper p {
    color: sandybrown;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

p {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

a:hover {
    color: lightgrey;
}

#tema1 {
    border-bottom: solid 5px white;
    display: flex;
}

#tema1 a {
    font-family: 'Francois One', sans-serif;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema1 a:hover {
    color: lightgrey;
}

#tema2 {
    border-bottom: solid 5px white;
    display: flex;
}

#tema2 a {
    font-family: 'Francois One', sans-serif;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema2 a:hover {
    color: lightgrey;
}

#tema3 {
    border-bottom: solid 5px white;
    display: flex;
}

#tema3 a {
    font-family: 'Francois One', sans-serif;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema3 a:hover {
    color: lightgrey;
}

#tema4 {
    display: flex;
}

#tema4 a {
    font-family: 'Francois One', sans-serif;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema4 a:hover {
    color: lightgrey;
}


@media only screen and (max-width: 1200px) {

    #splash {
        background-image: url(forsidemobil.png);
        background-color: #E60000;
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    #om {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 800px) {

    #tema1 {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {

    #tema2 {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {

    #tema3 {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {

    #tema4 {
        flex-wrap: wrap;
    }
}
