img {
    width: 100%;
}

#splash {
    background-image: url(forside.png);
    background-size: cover;
    width: 96vw;
    height: 106vh;
}

header {
    border-bottom: solid 5px white;
}

footer {
    background-color: #E60000;
    text-align: center;
    margin-top: -10px;
}

nav a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: overline;
    margin-left: 50px;
}

#sectionwrapper {
    background-color: #E60000;
    border-top: solid 1px white;
}

nav {
    justify-content: space-between;
    flex-wrap: wrap;
}

#forside nav {
    background-color: #E60000
}

#om {
    background-color: #E60000;
    display: flex;

}

#mig {
    margin: 5px;
    flex-basis: 600%;
}

#info {
    flex-basis: 600%;

}

#info p {
    color: black
}


h1 {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

h2 {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

p {
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: 10px;
}

a:hover {
    color: lightgrey;
}

#tema1 a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema1 a:hover {
    color: lightgrey;
}

#tema2 a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema2 a:hover {
    color: lightgrey;
}

#tema3 a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema3 a:hover {
    color: lightgrey;
}

#tema4 a {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#tema4 a:hover {
    color: lightgrey;
}


@media only screen and (max-width: 1200px) {

    #splash {
        background-image: url(forsidemobil.png);
        background-color: #E60000;
        width: 100%;
    }

    @media only screen and (max-width: 600px) {

        #om {
            flex-wrap: wrap;
        }
